.message {
  padding: 10px;
  margin: 50px;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  border-radius: 5px;
  position: fixed;
  z-index: 2;
}

.error {
  color: #fff;
  background-color: rgba(255, 17, 0, 0.713);
}

.info {
  background-color: rgba(222, 183, 27, 0.713);
}

.success {
  color: #fff;
  background-color: rgba(27, 222, 56, 0.713);
}

.default {
  color: #fff;
  background-color: #111727a1;
}
