.view-body {
  display: flex;
  justify-content: center;
}

.content {
  width: 75%;
  padding: 20px 0;
  display: flex;
  gap: 20px;
}

.balances {
  width: 35%;
}

.transactions {
  width: 65%;
}

@media screen and (max-width: 800px) {
  .content {
    width: 90%;
    flex-direction: column;
  }

  .balances {
    width: 100%;
  }

  .transactions {
    width: 100%;
  }
}
