.view {
    width: 100vw;
    height: 100vh;
}

.view-body {
    width: 100vw;
    height: 100vh;
    background-color: #ebecf0;
    display: flex;
    align-items: center;
    justify-content: center;
}
