.card {
    padding: 15px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: .01rem solid #111727;
}
